$v-globals: (

  /// Regular font family
  text-font-stack: ('Open Sans Condensed', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif),
  
  /// Code (monospace) font family
  code-font-stack: ('Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace),
  
  
  /// Base font size
  base-font-size: 16rem,
  
  
  /// Colors
  text-clr: #444,
  bg-clr: #ffffff,
  second-bg-clr: #122a44,
  brand-clr: #26a6d1,
  second-brand-clr: #ffb6a0,
  strong-clr: #151515,
  soft-clr: #e6e6e6,
  

  /// Container's minimum width
  min-width: 320px,
  max-width: 1180px,
  min-height: 750px,

  
  /// Switcher params
  switcher-line-thickness: 2.25px,
  switcher-bdrs: 5px
  
) !default;