
.mode-switcher {
  $line-thickness: 2.1px;

  overflow: hidden;
  display: flex;
  border: $line-thickness solid var(--text-clr);
  border-radius: 0.3em;

  &__mode {
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 1.5em;
    line-height: 1em;
    padding: 0.2em 1em 0.4em;

    &.active {
      background: var(--second-brand-clr);
    }
  }

  &__separator {
    width: $line-thickness;
    background: var(--text-clr);
    transform: scale(1.05);
  }
}