
@import '../../styles/abstracts/functions';

.mode-switcher {
  position: relative;
  display: flex;
  
  &::after {
    position: absolute;
    content: '';
    pointer-events: none;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: v(switcher-bdrs);
    border: v(switcher-line-thickness) solid v(text-clr);
  }

  & > * {
    &:first-child {
      border-radius: v(switcher-bdrs) 0 0 v(switcher-bdrs);
    }
    &:last-child {
      border-radius: 0 v(switcher-bdrs) v(switcher-bdrs) 0;
    }
  }

  &__separator {
    width: v(switcher-line-thickness);
    background: v(text-clr);
  }
}