@import '../../styles/abstracts/media-queries';
@import '../../styles/abstracts/mixins';

.header {
  grid-area: header;
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;

  @include respond-below(sm) {
    flex-direction: column;

    & > *:last-child {
      margin-top: 2em;
    }
  }
}